/* body {
    background-color: black;
    color : white ;
} */

.header {
    font-size: 32px;
    border: 1px solid aqua;
    display: flex;
    padding : 20px ;
    justify-content: center;
}

.container {
    /* margin-top : 40px ; */
    display: flex;
    flex-direction: column;
    margin-left : auto ; 
    margin-right:  auto;
    /* background-color: lightblue; */
    margin : 20px; 
    height : 500px ;
    width : 500px ;
    margin-left : auto ; 
    margin-right : auto ;
}

.cell {
    display: flex ;
    align-items: center;
    height : 100px ;
    width : 100px ; 
    justify-content: center;
    background-color: red;
    font-size : 32px ;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10px ;
    /* border : 2px solid red ; */
    height: 120px ;
}

.resultDisplay {
    font-size : 30px ;
}